/* Cargo la Tipografía*/
@font-face {
    font-family: "Allura-Regular";
    src: url('../fuentes/Allura-Regular.ttf');
}


body {
    background-image: url('../img/fondo_VG_transparencia.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
    background-blend-mode:color-burn;
    }

#nombre{
    margin-top: 5vw;
    color: #ffffff;
    font-size: 6vw;
    font-family: "Allura-Regular";
}

#cuadrado_nombre{
    width: 90%;
    margin-left: 10vw;
    margin-bottom: 10vh;
    border-radius: 12px;
    text-align: left;
  }